<nav class="navbar navbar-expand-lg navbar-light bg-danger">
<%= link_to "Twitter", root_path, class: "btn btn-danger text-light"%>
<%= link_to "Singn up", new_user_registration_path, class: "btn btn-danger text-light"%>
</nav>